@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-heading: #ff9c45;
  --color-body: #2A3D45;
}


body {
  background: var(--background);
  font-family: var(--font-body);
  color: var(--color-body);
}

h1 {
  font-family: var(--font-heading);
  color: var(--color-heading);
}
